.bg-dark-danger {
    background-color: #8B0000 !important; /* Donkerrood */
}

.bg-yellow {
    background-color: #FFD700 !important; /* Geel */
    color: #000 !important; /* Zwarte tekst voor betere leesbaarheid */
}