{# home.html #}

{% extends "base.html" %}

{% block content %}

	{{ welcome_message }}


{% endblock %}

<style>
    @media (prefers-color-scheme: dark) {
        body {
            background-color: #343a40;
            color: #f8f9fa;
        }
        .table {
            color: #f8f9fa;
        }
        .btn-outline-dark {
            color: #f8f9fa;
            border-color: #f8f9fa;
        }
        .btn-outline-dark:hover {
            background-color: #f8f9fa;
            color: #343a40;
        }
    }
</style>