{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    {% if tbody_tr_items %}
        <table class="table table-dark">
            <thead>
                <tr>
                    {% for thead_th_item in thead_th_items %}
                        <th scope="col">{{ thead_th_item.col_title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for tbody_tr_item in tbody_tr_items %}
                    <tr>
                        {% for tbody_td_item in tbody_tr_item %}
                            <td>
                                {% if tbody_td_item.url %}
                                    {% if tbody_td_item.col_value == 'Delete' %}
                                        <a class="btn btn-danger" href="{{ tbody_td_item.url }}" role="button">
                                            {{ tbody_td_item.col_value }}
                                        </a>
                                        {% elif tbody_td_item.col_value == 'Export' %}
                                        <a class="btn btn-success" href="{{ tbody_td_item.url }}" role="button">
                                            {{ tbody_td_item.col_value }}
                                        </a>
                                        {% elif tbody_td_item.col_value == 'Add' %}
                                        <a class="btn button-primary" href="{{ tbody_td_item.url }}" role="button">
                                            {{ tbody_td_item.col_value }}
                                        </a>
                                    {% else %}
                                        <a class="btn btn-outline-light" href="{{ tbody_td_item.url }}" role="button">
                                            {{ tbody_td_item.col_value }}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {% if tbody_td_item.col_value %}
                                        {{ tbody_td_item.col_value }}
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items found</p>
    {% endif %}
    
    <div class="d-flex gap-2">
        <a class="btn btn-primary" href="{{ item_new_url }}" role="button">{{ item_new_text }}</a>
        <a class="btn btn-info" href="{{ url_for('manage_data.bia_import') }}" role="button">
            <i class="fas fa-file-import"></i> Importeren
        </a>
    </div>
{% endblock %}