{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    {% if tbody_tr_items %}
        <table class="table table-dark">
            <thead>
                <tr>
                    {% for thead_th_item in thead_th_items %}
                        <th scope="col">{{ thead_th_item.col_title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for tbody_tr_item in tbody_tr_items %}
                    <tr>
                        {% for tbody_td_item in tbody_tr_item %}
                            <td>
                                {% if tbody_td_item.url %}
                                    {% if tbody_td_item.col_value == 'Delete' %}
                                        <a class="btn btn-danger" href="{{ tbody_td_item.url }}" role="button">
                                            {{ tbody_td_item.col_value }}
                                        </a>
                                        {% elif tbody_td_item.col_value == 'Export' %}
                                        <a class="btn btn-success" href="{{ tbody_td_item.url }}" role="button">
                                            {{ tbody_td_item.col_value }}
                                        </a>
                                        {% elif tbody_td_item.col_value == 'Add' %}
                                        <a class="btn button-primary" href="{{ tbody_td_item.url }}" role="button">
                                            {{ tbody_td_item.col_value }}
                                        </a>
                                    {% else %}
                                        <a class="btn btn-outline-light" href="{{ tbody_td_item.url }}" role="button">
                                            {{ tbody_td_item.col_value }}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {% if tbody_td_item.col_value %}
                                        {{ tbody_td_item.col_value }}
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items found</p>
    {% endif %}
    {% if pagination %}
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-dark justify-content-center">
            {% if pagination.page > 1 %}
                <li class="page-item">
                    <a class="page-link text-light bg-dark" href="{{ url_for(request.endpoint, page=pagination.page - 1) }}">&laquo; Previous</a>
                </li>
            {% endif %}
    
            {% set start_page = [pagination.page - 2, 1] | max %}
            {% set end_page = [start_page + 4, pagination.pages] | min %}
            
            {% for page_num in range(start_page, end_page + 1) %}
                {% if page_num != pagination.page %}
                    <li class="page-item">
                        <a class="page-link text-light bg-dark" href="{{ url_for(request.endpoint, page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <span class="page-link bg-secondary text-light">{{ page_num }}</span>
                    </li>
                {% endif %}
            {% endfor %}
    
            {% if pagination.page < pagination.pages %}
                <li class="page-item">
                    <a class="page-link text-light bg-dark" href="{{ url_for(request.endpoint, page=pagination.page + 1) }}">Next &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <div class="d-flex gap-2">
        <a class="btn btn-primary" href="{{ item_new_url }}" role="button">{{ item_new_text }}</a>
        {% if show_import is defined and show_import %}
        <a class="btn btn-info" href="{{ item_import_url}}" role="button">{{ item_import_text }}</a>
        {% endif %}
    </div>
{% endblock %}